.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: rgb(37, 33, 44);
  line-height: 1.3;
  overflow-x: hidden;

  /*background-color: #962bb1;*/
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.15;
  color: white;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}


@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  color: #743dbd;
  position: relative;
  z-index: 1;
}

p span{
  color: #fff;

}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#bbb2e9), to(#bbb2e9));
  background-image: linear-gradient(to right, #9068be, #a092e6);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

button:hover::before, .button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9262df), to(transparent));
  background-image: linear-gradient(#454b74, transparent);
}

.header nav {
  position: relative;
  background-color:rgb(37, 33, 44);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1rem;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#8c61c5), to(#9068be)));
  background: linear-gradient(to right, #8c61c5, #9068be);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #4d4f5f;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  background-color: rgb(37, 33, 44);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center 70%;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 41rem;
    background-image: none;
  }
}

@media (min-width: 64em) {
  .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}


.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.feature {
  background-color: #f3f4f6;
  text-align: center;
}

@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}

.feature__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 64em) {
  .feature__intro {
    width: 60%;
  }
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}

.feature__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.articles {
  background-color: #fafafa;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .article__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #2d314d;
  margin-bottom: 0.5rem;
}

.article__description {
  font-size: 0.8125rem;
}

}


/*# sourceMappingURL=style.css.map */

/*Below is the CSS for hovering animated icons*/
*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(37, 33, 44);
}
/*
.wrapper{
  position: fixed;
  bottom: 10px;
  left: 400px;
  transform: translate(-50%,-50%);
}

ul{
  list-style: none;
  width: 600px;
}

ul li{
  width: 70px;
  float: left;
  margin: 0 25px;
  height: 70px;
  background: #fff;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(225,225,225, 0.8); 
  transform-style: preserve-3d;
}

ul li .fa{
  position: absolute;
  color: #9889e2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
}

.covers1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #1D3557;
  border-bottom: 35px solid transparent;
  opacity: 0.8;
  border-radius: 5px;
  transform-origin: top;
  transition: all 1s ease;
}

.covers1:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid transparent;
  border-bottom: 35px solid #1D3557;
  opacity: 0.8;
  border-radius: 5px;
  transform-origin: bottom;
  transition: all 1s ease;
}

.covers2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 35px solid #1D3557;
  border-right: 35px solid transparent;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  opacity: 0.8;
  border-radius: 5px;
  transform-origin: left;
  transition: all 1s ease;
}

.covers2:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid #1D3557;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  opacity: 0.8;
  border-radius: 5px;
  transform-origin: right;
  transition: all 1s ease;
}

ul li:hover .covers1:before{
  transform: rotateX(180deg);
}



ul li:hover .covers1:after{
  transform: rotateX(-180deg);
}

ul li:hover .covers2:before{
  transform: rotateY(-180deg);
}

ul li:hover .covers2:after{
  transform: rotateY(180deg);
}
*/

.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 1145px;
  text-align: center;
  padding: 15px 10px;
  background: #7465c4;
  border-radius: 35px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: none;
  letter-spacing: 1px;
}


/*CSS for Glitch Effect*/

.glitch {
  font-size: 4rem;
  font-weight: 700;
  text-transform: none;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/*Below is CSS code for flip animation*/

/*
:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #bbb2e9;
}


.card {
  length: 20px;
  height: 100px;
  width: 550px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  // background: pink;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-image: url(/phonesPicFinal.png);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}



.card__back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: #bbb2e9;
}

*/


.wrapper2 {
	position: fixed;
	bottom: 10px;
	left:5px; 
	width: 550px;
  }
  /* Style the Un-order list by setting its list-style to none */
.wrapper2 ul {
	list-style: none;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
	and float them to left and set its border and border-radius.
   */
  .wrapper2 ul li {
	width: 75px;
	height: 75px;
	line-height: 75px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid #D8E2DC;
	float: left;
	transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper2 ul li .fa {
	color: #D8E2DC;
	margin-top: 20px;
	transition: all 0.5s ease;
  }
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
	to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  .wrapper2 ul li:hover.facebook {
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper2 ul li:hover .fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  /*twitter*/
  .wrapper2 ul li:hover.twitter {
	border: 5px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper2 ul li:hover .fa-twitter {
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  /* instagram */
  .wrapper2 ul li:hover.instagram {
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  .wrapper2 ul li:hover .fa-instagram {
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  /* google */
  .wrapper2 ul li:hover.google {
	border: 5px solid #dd4b39;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  .wrapper2 ul li:hover .fa-google {
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  /* whatsapp */
  .wrapper2 ul li:hover.whatsapp {
	border: 5px solid #4dc247;
	box-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  .wrapper2 ul li:hover .fa-whatsapp {
	color: #4dc247;
	text-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  
  /* media queries */
  
  @media screen and (max-width: 640px){
	.wrapper2 {
		width: 350px;
	}
	.wrapper2 ul li{
		margin-top: 10px;
	}
	.wrapper2 ul li.google{
		margin-left: 60px;
	}
  }
  
  
  @media screen and (max-width: 340px){
	.wrapper2 {
		width: 150px;
	}
	.wrapper2 ul li{
		margin:15px;
	}
	.wrapper2 ul li.google{
		margin-left: 15px;
	}
  }
  

  /*
.THREEdtext {

  position: fixed;
  left: 2%;
  bottom: 20%;
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 2.5em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}
*/

.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  text-align: center;
  padding: 15px 10px;
  background: rgb(26, 23, 31);
  border-radius: 100px;
  animation: spin infinite 8s linear;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: none;
  letter-spacing: 1px;
}
   


  
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}